<div fxLayout="row">
    <div fxLayout="column" fxFlex="30%">
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
    </div>
</div>

     <div fxLayout="column" fxFlex="40%">
       <div>
            <h4>Basic mat-select</h4>
            <mat-form-field>
              <mat-label>Favorite food</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <h4>Basic native select</h4>
            <mat-form-field>
              <mat-label>Cars</mat-label>
              <select matNativeControl required>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
       </div>

    </div>

    <div fxLayout="column" fxFlex="30%">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1soubhagya</button>
              <button mat-menu-item>Item 2soubhagya</button>
            </mat-menu>
    </div>
  
</div>